@charset "utf-8";

    #main {
        width:1500px;
        
        font-family: 'Nanum Myeongjo';
    }
    
    #header{
        width:1298px;
        height: 200px;
        margin: 50px 100px 20px 100px;
    }
    
    .roundlogo{
        float: left;
    }
    
    .longlogo{
        float: right;
    }
    
    #navigation{
        width:1298px;
        height: 50px;
        margin: 0px 100px 50px 100px;

    }
    
    .menu{
        width: 322.5px;
        height: 50px;
        float: left;
        padding-top: 20px;
        text-align: center;
        border:1px solid;
        background-color:#6C7FBD;
        color:#FFF;
        font-family: 'Nanum Myeongjo';
        font-size: 20px;
        transition-duration: 0.2s;
    }
    
    .menu:hover {
        background-color:#6EA0D4;
    }
    
    .section1{
        width:1298px;
        height: 933px;
        margin: 0px 100px 50px 100px;
    }
    
    .section{
        width:1298px;
        height: 300px;
        margin: 0px 100px 50px 100px;
    }
    
    .article{
        float: left;
        width: 1198px;
        height: 250px;
        margin: 25px 50px 25px 50px;
        font-size: 20px;
        
    }
    
    .imgboxdiv{
        width: 200px;
        height: 200px;
        position: relative;
        cursor:pointer;
        overflow: hidden;
        margin: 25px;
    }

    .imgdiv{
        width: 100%;
        height: 100%;
        position: absolute;
        background: lightblue;
        z-index: 1;
        transition: all .5s ease;
        bottom: 0px;
        overflow: hidden;
    }
    
    .imgboxdiv:hover .imgdiv{
        bottom: 40px;
    }
    
    .imgdesdiv{
        width:100%;
        height:40px;
        padding-left: 5px;
        color: #FFFFFF;
        background: #6C7FBD;
        position: absolute;
        bottom: 0px;
    }
    
    .part1{
        float: left;
    }
    
    .part2{
        float:left;
        width: 998px;
        height: 883px;
        margin: 23px;
    }
    
    #vidio{
        width:998px;
        height:422px;
    }
    
    #img1{
        float: left;
        width: 200px;
        height: 200px;
        border: 3px solid;
        color: #164059;
        margin: 18px 24px 18px 24px;
        border-radius: 10px;
    }
    
    #p2article1{
        float: left;
        width: 690px;
        height: 200px;
        margin: 18px 24px 18px 24px;
        border: 3px solid;
        color: #164059;
        font-size: 16px;
        line-height:145%;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    
    #img2{
        float: left;
        width: 200px;
        height: 200px;
        border: 3px solid;
        color: #164059;
        margin: 18px 24px 0px 24px;
        border-radius: 10px;
    }
    
    #p2article2{
        float: left;
        width: 690px;
        height: 200px;
        margin: 18px 24px 0px 24px;
        border: 3px solid;
        color: #164059;
        font-size: 16px;
        line-height:145%;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    
    
    #footer{
        width:1298px;
        height:130px;
        margin: 0px 100px 50px 100px;
        text-align: center;
    }
    
    .Finform {
        float:left;
        width:400px;
        margin: 0px 120px; 0px; 100px;
    }
    
    .copy {
        float:left;
        width:1298px;
        height: 30px;
        margin: 20px 0px 0px 0px;
    }
    